
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
}

#container {
    height: 60px;
    width: 800px;
    margin-top: 20px;
    box-shadow: 10px 10px 30px rgb(254, 215, 188);
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    background-color: white;
}

.btn {
    font-size: 28px;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.slider {
    height: 60px;
    width: 310px;
    top: 20px;
    left: 320px;
    position: absolute;
    border-radius: 50px;
    background-image: linear-gradient(to right,
    rgb(255, 195, 110),
    rgb(255, 146, 91));
    transition: all 0.5s ease-in-out;
}

.moveslider {
    left: 620px;
    width: 500px;
}

#container button {
    padding-left: 90px;
    padding-right: 90px;
}


.record-list {
    background-color: white;
    min-width: 650px;
    min-height: 700px;
    overflow-y: auto;
    position: absolute;
    transition: all 0.5s ease-in-out;
    right: 0;
}

.history-list {
    background-color: white;
    min-width: 650px;
    min-height: 700px;
    overflow-y: auto;
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: 650px;
}

.moverecordlist {
    right: 650px;
}

.movehistorylist {
    left: 0;
}


#main {
    margin-top: 30px;
    background-color: white;
    box-shadow: 6px 6px 20px rgb(128, 128, 128);
    display: flex;
    position: relative;
    width: 650px;
    height: 700px;
    overflow: hidden;
}

ul {
    padding-left: 25px;
    padding-top: 5px;
}